body {
  margin: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  font-family: sans-serif;
  margin: 10px;
  display: inline-block;
}

caption,
td,
th {
  border: 1px solid #000;
}
caption {
  border-bottom: none;
  font-weight: 700;
}
.weekends {
  color: rgb(227, 1, 1);
}
.table-2 {
  margin: 10px 10px 30px;
}
